server:
  port: 8081

spring:
  application:
    name: auth-service

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: auth-service
            client-secret: "ZfG9cTYoO4yxd6BBXrTDIVyI6Zjcsftn"
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/myrealm
            user-name-attribute: preferred_username

      resource server:
        jwt:
          issuer-uri: http://localhost:8080/realms/myrealm
