services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2
    container_name: keycloak
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8085:8080"
    volumes:
      - keycloak_data:/opt/keycloak/data # Lưu Keycloak DB (H2) để persistent
  redis-auth:
    image: redis:7-alpine
    container_name: redis-auth
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes # Bật AOF để persistent Redis

  redis-user:
    image: redis:7-alpine
    container_name: redis-user
    ports:
      - "6380:6379"

  redis-gateway:
    image: redis:7-alpine
    container_name: redis-gateway
    ports:
      - "6381:6379"

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: auth_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  eureka-service:
    build: ./eureka-service
    container_name: eureka-service
    ports:
      - "8761:8761"
    depends_on:
      - keycloak
      - redis-auth
    environment:
      SPRING_PROFILES_ACTIVE: docker
      SPRING_REDIS_HOST: redis-auth
      SPRING_REDIS_PORT: 6379

  gateway-service:
    build: ./gateway-service
    container_name: gateway-service
    ports:
      - "8082:8082"
    depends_on:
      - keycloak
      - redis-gateway
    environment:
      SPRING_REDIS_HOST: redis-gateway
      SPRING_REDIS_PORT: 6379

  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8081:8081"
    depends_on:
      - keycloak
      - redis-auth
      - mysql
      - kafka
    environment:
      SPRING_REDIS_HOST: redis-auth
      SPRING_REDIS_PORT: 6379
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/auth_db
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8083:8083" # Sửa port để tránh xung đột với auth-service
    depends_on:
      - keycloak
      - redis-user
      - kafka
    environment:
      SPRING_REDIS_HOST: redis-user
      SPRING_REDIS_PORT: 6379
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

volumes:
  mysql_data: