server:
  port: 8082

spring:
  application:
    name: gateway-service

  data:
    redis:
      host: localhost
      port: 6379

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: gateway-service
            client-secret: ZfG9cTYoO4yxd6BBXrTDIVyI6Zjcsftn
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
            scope: openid, profile, email
            provider: keycloak
        provider:
          keycloak:
            issuer-uri: http://localhost:8085/realms/myrealm
      resource-server:
        jwt:
          issuer-uri: http://localhost:8085/realms/myrealm

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.security: INFO
